* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header {

	/*widthを記載する意味は？*/
	padding: 20px 0;
	text-align: center;
	font-size: 32px;
}

.nav {
	margin: 0 auto;
}

.list {
	text-align: center;
	padding: 15px 0;
	border: solid black;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-right-width: 0;
	border-left-width: 0;
}

.list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}









.boxes {

	/*padding50pxではなく、margin50pxで対応可能？*/
	padding: 50px 0;
	width: 800px;
	margin: 0 auto;
}

.box1 {
	background-color: #e6ffe9;
	width: 200px;
	height: 200px;
	float: left;
}

.box2 {
	background-color: #cbffd3;
	width: 200px;
	height: 200px;
	float: left;
}
.box3 {
	background-color: #aeffbd;
	width: 200px;
	height: 200px;
	float: left;
}
.box4 {
	background-color: #93ffab;
	width: 200px;
	height: 200px;
	float: left;
}
.box5 {
	background-color: #f3ffd8;
	width: 200px;
	height: 200px;
	float: left;
}
.box6 {
	background-color: #edffbe;
	width: 200px;
	height: 200px;
	float: left;
}
.box7 {
	background-color: #e9ffa5;
	width: 200px;
	height: 200px;
	float: left;
}
.box8 {
	background-color: #e4ff8d;
	width: 200px;
	height: 200px;
	float: left;
}
.box9 {
	background-color: #d9e5ff;
	width: 200px;
	height: 200px;
	float: left;
}
.box10 {
	background-color: #bad3ff;
	width: 200px;
	height: 200px;
	float: left;
}
.box11 {
	background-color: #a4c6ff;
	width: 200px;
	height: 200px;
	float: left;
}
.box12 {
	background-color: #8eb8ff;
	width: 200px;
	height: 200px;
	float: left;
}



/*footer-textでカラー選択しなくても良いのでは？*/

footer {
	background-color: gray;
	height: 120px
	width: 100%;
	text-align: center;
	padding: 50px 0;
}

.footer-text {
	color: white;
}